@font-face {
  font-family: 'logobold';
  src: url('./Corporate-Logo-Bold-ver2.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'nikkyousans';
  src: url('./NikkyouSans-mLKax.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'logobold';
  background: url('./universe.jpg');
  background-repeat: no-repeat;
}
